name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Substitute env
        run: |
          export FLASK_KEY=${{ secrets.FLASK_KEY }}
          envsubst '${FLASK_KEY}' < template.yaml > app.yaml

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
          bundler-cache: true
          working-directory: ./build

      - name: Build Jekyll site
        run: |
          export CID=$(echo "${{ github.event.head_commit.id }}" | cut -c -6)
          export BUNDLE_GEMFILE="build/Gemfile"
          bundle install
          bundle exec jekyll build

      - name: Deploy to Google App Engine
        uses: google-github-actions/deploy-appengine@main
        with:
          credentials: ${{ secrets.GCP_SA_KEY }}
          working_directory: .